## Tuples
- immutable
- with parenthesis (even no need it)
- accessing through []

In [1]:
t = (1,2,3)
t[1]   # zero based numbering!!!

2

In [39]:
# element-wise operation is not permittable

t + 2   # immutable
#t.append(2)

In [46]:
# how to create tuples

t = tuple((i for i in range(10)))
t

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [48]:
# single element tuples

et = ('2',)

In [50]:
# expand and replae possible

print(t + et)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, '2')

In [51]:
## why need it? why not list?
# sometimes it is handy with dict (will see below)

dict(zip('abc', range(3)))

{'a': 0, 'b': 1, 'c': 2}

## Lists
- mutable
- indexing thru []

In [110]:
ls = [i for i in range(10)]
ls

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [107]:
ls.reverse()
ls

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [111]:
ls.pop(0)   # returning pop value
ls

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
ls.append(3)
ls

[1, 2, 3, 4, 5, 6, 7, 8, 9, 3]

In [113]:
ls.extend([3])
ls

[1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 3]

In [115]:
del ls[0]
ls

[2, 3, 4, 5, 6, 7, 8, 9, 3, 3]

In [118]:
ls.remove(3)
ls

[2, 4, 5, 6, 7, 8, 9, 3, 3]

In [69]:
ls

[100, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 10]

In [70]:
ls[0] = 200

In [71]:
ls

[200, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 10]

In [72]:
ls.remove(3)

In [120]:
ls.sort()
ls

[2, 3, 3, 4, 5, 6, 7, 8, 9]

**- List related operation**

|method | index/value | results|
| :---:   |    :---:      |   :---:  |
|ls[i]=j| index:value| i's element replaced by j |
| ls.append| (value) |    new value are added|
| ls.exend| ([value]) |   new value are added|
|ls.count|(value)|how many times x occur |
|del ls|[index]|delete index value |
|ls.remove|(value)|remove first encountered value|
|ls.pop|(index)|remove index value and return  |
|ls.reverse|()|reverse the ordering|
|ls.sort|()|ordered sorting|

### How to inflate list?: selected way

In [122]:
# method 1

data = []   # declare empty list 

for i in range(10):
        data.append(i)
print(data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [124]:
# method 2
data = [i for i in range(10)]

print(data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [177]:
# method 3

data = map(lambda x: x ** 2, range(10))
print(list(data))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Dict

- dictionary; mutable
- pairwise

### Accessing dict

In [179]:
# example

prices = {"open": 200, "high": 201, "low": 199, "close": 200}
prices

{'close': 200, 'high': 201, 'low': 199, 'open': 200}

In [181]:
# how can access

prices.items()

dict_items([('open', 200), ('high', 201), ('low', 199), ('close', 200)])

In [182]:
prices.keys()

dict_keys(['open', 'high', 'low', 'close'])

In [192]:
# acess thru key as column.names

prices['open']

200

In [183]:
prices.values()

dict_values([200, 201, 199, 200])

In [184]:
list(prices)

['open', 'high', 'low', 'close']

In [188]:
price_only = []
name_only =[]
for key, value in prices.items():
    price_only.append(value)
    name_only.append(key)

In [189]:
price_only

[200, 201, 199, 200]

In [190]:
name_only

['open', 'high', 'low', 'close']

### Inflating Dict

In [263]:
# inflate one item
prices['volume'] = 1000
prices

{'close': 200, 'high': 201, 'low': 199, 'open': 200, 'volume': 1000}

In [193]:
# easiest way 
dict(zip(name_only, price_only))

{'close': 200, 'high': 201, 'low': 199, 'open': 200}

In [260]:
# invert dictionary keys and values

def invert_dict(obj):
    fkeys=[]
    fvalues =[]
    for keys, values in obj.items():
#        print(keys, values)
        fkeys.append(values)
        fvalues.append(keys)
    return dict(zip(fkeys, fvalues))

In [261]:
invert_dict(prices)

{199: 'low', 200: 'close', 201: 'high'}

In [268]:
# want to generate dict {x:x**2 for range(10) and x is odd number }

pairs = {}
for i in range(10):
    if i % 2  != 0:
        pairs[i] = i ** 2
print(pairs)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [271]:
# the other way of the above problem

pair1 = [i for i in range(10) if i % 2 != 0]
pair2 = [i**2 for i in range(10) if i % 2 != 0]
dict(zip(pair1, pair2))

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [302]:
# Initialize `fahrenheit` dictionary 

def from_cel_to_far(x):
    return f'{((9/5)*x + 32):.2f}'


celsius = {'winter':-20, 'spring':5, 'summer':37, 'fall': 13}

fahrenheit = []

for value in celsius.values():
    fahrenheit.append(from_cel_to_far(value))

fah = dict(zip(celsius.keys(), fahrenheit))
fah

{'fall': '55.40', 'spring': '41.00', 'summer': '98.60', 'winter': '-4.00'}

In [303]:
# method 2

cels2 = map(lambda x: from_cel_to_far(x), celsius.values())
dict(zip(celsius.keys(), cels2))

{'fall': '55.40', 'spring': '41.00', 'summer': '98.60', 'winter': '-4.00'}